[submodule "2.1/AED/trab2-aed"]
	path = 2.1/AED/trab2-aed
	url = https://github.com/rhyan-jackson/trab2-aed
[submodule "2.1/AED/trabalho-1-120271-120495"]
	path = 2.1/AED/trabalho-1-120271-120495
	url = https://github.com/detiuaveiro/trabalho-1-120271-120495
